<div class="flex flex-col md:flex-row items-center p-4 bg-gray-900 text-white text-sm font-sans rounded-lg">
    <img src="https://placehold.co/50x50" alt="Profile picture" class="hidden md:block w-12 h-12 mr-4 rounded-full border border-gray-100">
    <p class="text-teal-300 text-2xl font-bold"><%= shipmentAddress.firstname %></p>
    <div class="flex items-center my-2 md:my-0 ml-0 md:ml-4 space-x-2">
        <i class="fas fa-shield-alt text-yellow-500"></i>
        <span id="dej-result" class="">12850</span>
        <span class="text-yellow-500">|</span>
        <i class="fas fa-sword text-yellow-500"></i>
        <span>
            <span class="">NIVEAU D'ACTIVITÉ PHYSIQUE </span>
            <span id="activityResult">187</span>
        </span>
    </div>
    <p class="text-lg md:text-base text-center md:text-left mt-2 md:mt-0 ml-0 md:ml-auto">
        <span id="displayed-age" class="">Âge</span> Elfe de sang Maîtrise des bêtes Chasseresse <%= shipmentAddress.city %>
    </p>
</div>











<!-- Base statistics -->
<div class="hidden flex items-center space-x-4 p-2">
    <div class="flex items-center space-x-2">
        <div class="text-yellow-400 flex items-center space-x-1">
            <span class="text-lg">75</span>
            <i class="fas fa-magic"></i> <!-- Magie -->
        </div>
    </div>

    <div class="flex items-center space-x-2">
        <div class="text-yellow-400 flex items-center space-x-1">
            <span class="text-lg">39</span>
            <i class="fas fa-shield-alt"></i> <!-- Bouclier -->
        </div>
        <div class="text-purple-400 flex items-center space-x-1">
            <span class="text-lg">32</span>
            <i class="fas fa-shield-virus"></i> <!-- Virus -->
        </div>
    </div>

    <div class="flex items-center space-x-2">
        <div class="text-green-400 flex items-center space-x-1" title="Niveau d'activité physique NAP">
            <i class="fas fa-tachometer-alt"></i> <!-- Niveau d'activité -->
            <span class="text-lg">0.71</span>
        </div>
    </div>

    <div class="flex items-center space-x-2">
        <div class="text-red-600 flex items-center space-x-1" title="Dépense Energétique Journalière DEJ">
            <i class="fas fa-bolt"></i> <!-- DEJ -->
            <span class="text-lg">0</span>
        </div>
    </div>

    <div class="flex items-center space-x-2">
        <div class="text-blue-400 flex items-center space-x-1">
            <i class="fas fa-trophy"></i> <!-- Score général -->
            <span id="points-hauts-faits" class="text-lg">99</span>
        </div>
    </div>
</div>
