<style>
    @import url('/css/ActivitesQuotidiennes.css');
</style>

<h1>Suivi des Activités Quotidiennes</h1>
<div class="grid-container" id="activities">
    <div class="activity" id="activity-reveil-matinal-1">
        <h2><i class="fas fa-sun"></i> Réveil matinal</h2>
        <p>Maximiser la productivité en commençant la journée tôt.</p>
    </div>
    <div class="activity" id="activity-meditation-1">
        <h2><i class="fas fa-brain"></i> Méditation ou réflexion</h2>
        <p>Préparer mentalement pour les défis de la journée.</p>
    </div>
    <div class="activity" id="activity-exercice-1">
        <h2><i class="fas fa-dumbbell"></i> Exercice physique</h2>
        <p>Inclure des exercices variés avec ou sans entraîneur personnel.</p>
    </div>
    <div class="activity" id="activity-petit-dejeuner-1">
        <h2><i class="fas fa-utensils"></i> Petit-déjeuner nutritif</h2>
        <p>Assurer un apport équilibré pour bien démarrer la journée.</p>
    </div>
    <div class="activity" id="activity-lecture-1">
        <h2><i class="fas fa-book"></i> Lecture et apprentissage continu</h2>
        <p>Écouter des podcasts et des conférences pour enrichir ses connaissances.</p>
    </div>
    <div class="activity" id="activity-planification-1">
        <h2><i class="fas fa-calendar-alt"></i> Planification de la journée</h2>
        <p>Organiser les réunions et appels pour une journée productive.</p>
    </div>
    <div class="activity" id="activity-soins-1">
        <h2><i class="fas fa-spa"></i> Soins personnels</h2>
        <p>Prendre soin de soi pour maintenir un bon équilibre physique et mental.</p>
    </div>
    <div class="activity" id="activity-famille-1">
        <h2><i class="fas fa-heart"></i> Temps en famille</h2>
        <p>Passer du temps de qualité avec les proches pour renforcer les relations familiales.</p>
    </div>
    <div class="activity" id="activity-investissements-1">
        <h2><i class="fas fa-chart-line"></i> Révision des investissements</h2>
        <p>Ajuster les stratégies en fonction des performances actuelles.</p>
    </div>
    <div class="activity" id="activity-preparation-1">
        <h2><i class="fas fa-bullseye"></i> Préparation mentale</h2>
        <p>Se préparer mentalement pour performer dans chaque interaction.</p>
    </div>
</div>

<h2>Activités Complétées</h2>
<div class="grid-container completed-activities" id="completed-activities">
    <!-- Les activités complétées seront déplacées ici -->
</div>
<button id="reset-button">Réinitialiser</button>

<script src="/js/ActivitesQuotidiennes.js"></script>

