        <!-- 👾 Energy and Life | Expectancy Calculator Modal 🕹️ -->
        <div id="energyModal" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center hidden">
            <div class="bg-gray-900 p-8 rounded-lg w-full max-w-2xl">
                <div class="flex justify-between items-center mb-4">
                    <h2 class="hidden text-lg font-bold text-gray-800">Énergie, Fréquence, Vibration</h2>
                    <div class="p-3 bg-dark text-light rounded">
                        <p class="text-sm italic">"Si vous voulez trouver les secrets de l'univers, pensez en termes d'énergie, de fréquence et de vibration." - Nikola Tesla</p>
                    </div>
                    <button id="closeModalBtn" class="text-gray-400 hover:text-gray-200">&times;</button>
                </div>
                <form id="energyForm">
                    <div class="flex flex-wrap -mx-2 mb-4">
                        <div class="w-full md:w-1/2 px-2 mb-4 md:mb-0">
                            <label for="gender" class="block text-gray-400">Genre</label>
                            <select class="form-control block w-full bg-gray-800 text-white border border-gray-700 rounded px-3 py-2" id="gender">
                                <option value="male">Homme</option>
                                <option value="female">Femme</option>
                            </select>
                        </div>
                        <div class="w-full md:w-1/2 px-2">
                            <label for="age" class="block text-gray-400">Âge</label>
                            <input type="number" class="form-control block w-full bg-gray-800 text-white border border-gray-700 rounded px-3 py-2" id="age" placeholder="Entrez votre âge">
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-2 mb-4">
                        <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                            <label for="weight" class="block text-gray-400">Poids (kg)</label>
                            <input type="number" class="form-control block w-full bg-gray-800 text-white border border-gray-700 rounded px-3 py-2" id="weight" placeholder="Entrez votre poids" value="62" min="2.1" max="635">
                        </div>
                        <div class="w-full md:w-1/3 px-2 mb-4 md:mb-0">
                            <label for="height" class="block text-gray-400">Taille (cm)</label>
                            <input type="number" class="form-control block w-full bg-gray-800 text-white border border-gray-700 rounded px-3 py-2" id="height" placeholder="Entrez votre taille" value="165" min="54.6" max="272">
                        </div>
                        <div class="w-full md:w-1/3 px-2">
                            <label for="activity" class="block text-gray-400">Niveau d'Activité</label>
                            <input type="number" step="0.01" class="form-control block w-full bg-gray-800 text-white border border-gray-700 rounded px-3 py-2" id="activity" placeholder="Entrez le niveau d'activité" value="1.5" min="1.2" max="1.8">
                        </div>
                    </div>
                    <div class="hidden flex justify-end">
                        <button type="button" class="bg-blue-500 text-white px-4 py-2 rounded flex items-center">
                            <i class="fas fa-file-import mr-2"></i> Importer CSV
                        </button>
                    </div>
                </form>
                <div class="hidden mt-4">
                    <p id="ageDisplay" class="text-gray-400 mt-2"></p>
                </div>
            </div>
        </div>