    <style>
        @keyframes pulse {
            0%, 100% {
                transform: scale(1);
            }
            50% {
                transform: scale(1.05);
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        .card.clicked {
            animation: pulse 0.3s ease-in-out, fadeIn 1s ease-in-out;
            background-color: #4ade80; /* Green 400 */
        }

        .click-opacity {
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        .click-opacity:hover {
            transform: translateY(-10px);
        }

        .click-opacity.opacity-10 {
            opacity: 0.1;
        }
    </style>

    <div class="rounded flex flex-col items-center justify-center min-h-screen p-2 bg-gray-100 text-white">
        <div class="text-center">
            <h1 class="text-5xl font-extrabold mb-8">THE <span class="text-blue-500">MILLION</span> DOLLAR MORNING</h1>
        </div>
        <div class="grid grid-cols-3 gap-8 mt-8">
            <!-- Row 1 -->
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-clock text-6xl text-red-500"></i>
                <p class="mt-2 text-lg font-semibold">Wake up</p>
            </div>
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-bed text-6xl text-gray-700"></i>
                <p class="mt-2 text-lg font-semibold">Immediately get out of bed</p>
            </div>
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-ban text-6xl text-red-500"></i>
                <p class="mt-2 text-lg font-semibold">No phone</p>
            </div>
            <!-- Row 2 -->
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-shower text-6xl text-blue-500"></i>
                <p class="mt-2 text-lg font-semibold">Cold shower</p>
            </div>
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-running text-6xl text-red-500"></i>
                <p class="mt-2 text-lg font-semibold">5 minutes of cardio</p>
            </div>
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-praying-hands text-6xl text-yellow-500"></i>
                <p class="mt-2 text-lg font-semibold">Meditation</p>
            </div>
            <!-- Row 3 -->
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-apple-alt text-6xl text-green-500"></i>
                <p class="mt-2 text-lg font-semibold">Eat a healthy breakfast</p>
            </div>
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-bullseye text-6xl text-red-500"></i>
                <p class="mt-2 text-lg font-semibold">Set 3 daily goals</p>
            </div>
            <div class="flex flex-col items-center click-opacity p-4 rounded-lg bg-gray-800 hover:bg-gray-700" onclick="toggleOpacity(this)">
                <i class="fas fa-coffee text-6xl text-yellow-800"></i>
                <p class="mt-2 text-lg font-semibold">Grab a coffee &amp; start hustling</p>
            </div>
        </div>
        <button onclick="resetOpacity()" class="mt-8 px-6 py-3 bg-blue-600 text-gray-300 hover:bg-blue-500 rounded-full shadow-lg transform hover:scale-105 transition-all duration-300">Save</button>
    </div>

    <script>
        function toggleOpacity(element) {
            element.classList.toggle('opacity-10');
            var audio = new Audio('draven-passive-sound-effect.mp3');
            audio.play();
        }

        function resetOpacity() {
            const elements = document.querySelectorAll('.click-opacity');
            elements.forEach(element => {
                element.classList.remove('opacity-10');
            });
        }

        function dopamineEffect(element) {
            element.classList.add('clicked');
            setTimeout(() => {
                element.classList.remove('clicked');
            }, 300);
        }

        function copyToClipboardAndNavigate() {
            const textToCopy = "Voici une photo de mon frigo. Que pourrais-je préparer ?";
            navigator.clipboard.writeText(textToCopy).then(function() {
                window.location.href = 'https://chatgpt.com/g/g-3VrgJ1GpH-sous-chef';
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        }

        // Extra magical animations
        document.querySelectorAll('.card').forEach(card => {
            card.addEventListener('mouseenter', () => {
                card.classList.add('hover:scale-105');
            });

            card.addEventListener('mouseleave', () => {
                card.classList.remove('hover:scale-105');
            });
        });

        document.querySelectorAll('.click-opacity').forEach(element => {
            element.addEventListener('click', () => {
                element.classList.add('hover:scale-110');
                setTimeout(() => {
                    element.classList.remove('hover:scale-110');
                }, 300);
            });
        });
    </script>
