<footer class="bg-[#2b2b2b] py-4 mt-8">

    <div class="container mx-auto text-center">
        <p class="mb-4">© 2024 TubeForm. Tous droits réservés.</p>
        <div class="flex justify-center space-x-4">
            <a href="https://www.facebook.com/PatrickAlexandreAssis?origin=tubeform" class="hover:text-teal-500" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
            <a href="https://www.youtube.com/channel/UC53j2mdxUAIH5deJV68aelw?sub_confirmation=1&origin=tubeform" class="hover:text-teal-500" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
            <a href="https://instagram.com/patrickalexandreassis?origin=tubeform" class="hover:text-teal-500" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            <a href="https://www.snapchat.com/add/bon0bo?origin=tubeform" class="hover:text-teal-500" aria-label="Snapchat"><i class="fab fa-snapchat"></i></a>
            <a href="https://www.tiktok.com/@patrick.axd?origin=tubeform" class="hover:text-teal-500" aria-label="TikTok"><i class="fab fa-tiktok"></i></a>
            <a href="https://music.youtube.com/channel/UC53j2mdxUAIH5deJV68aelw?origin=tubeform" class="hover:text-teal-500" aria-label="YouTube Music"><i class="fab fa-youtube"></i></a>

            <!-- Report Bug --><button class="hover:text-teal-500" aria-label="Report Bug" onclick="window.location.href='mailto:reportbug.tubeform@yopmail.com?subject=Bug Report';" title="Report a Bug"><i class="fas fa-bug"></i></button>
        </div>
    </div>
    
    <!-- Login > Bar+Progression
    <div class="container mx-auto mt-4 relative">
        <div class="w-1/2 mx-auto bg-gray-700 rounded-full h-4">
            <div class="bg-teal-500 h-4 rounded-full" style="width: 80%;"></div>
        </div>
        <div class="absolute inset-0 flex items-center justify-center">
            <span class="text-white">0,8</span>
        </div>
    </div> -->



</footer>