<header class="bg-[#2b2b2b] py-3">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <div class="text-3xl text-teal-500 font-bold">Tube<span class="text-emerald-500">Form</span></div>
        </div>

        <nav class="hidden md:flex space-x-6">
            <a href="#" class="hover:text-teal-500" aria-label="Accueil"><i class="fas fa-home"></i> Accueil</a>
            <a href="#" class="hover:text-teal-500" aria-label="Catégories"><i class="fas fa-th"></i> Catégories</a>
            <a href="#" class="hover:text-teal-500" aria-label="Idoles"><i class="fas fa-star"></i> Idoles</a>
            <a href="#" class="hidden hover:text-teal-500" aria-label="Vidéos populaires"><i class="fas fa-fire"></i> Vidéos populaires</a>
            <a href="https://www.youtube.com/playlist?list=PL1nW8kmXdSU6zxdIV-tyekwCnxcVeDgqa" class="hover:text-teal-500" aria-label="Nouvelles vidéos"><i class="fas fa-clock"></i> Nouvelles vidéos</a>
            <a href="#" class="hidden hover:text-teal-500" aria-label="Vidéos les mieux notées"><i class="fas fa-thumbs-up"></i> Vidéos les mieux notées</a>
            <a href="#" class="hover:text-teal-500" aria-label="Notre réseau"><i class="fas fa-network-wired"></i> Notre réseau</a>
            <a class="<%= path === '/tools' ? 'active' : '' %>" href="/tools"><i class="fas fa-tools"></i> Outils</a>
        </nav>
        <div class="flex space-x-4">
            <button class="bg-teal-500 text-black px-4 py-1 rounded-full">Français <i class="fas fa-language"></i></button>
        </div>
        <button id="mobile-menu-button" class="md:hidden text-teal-500 focus:outline-none">
            <i class="fas fa-bars text-2xl"></i>
        </button>
    </div>
    <nav id="mobile-menu" class="md:hidden hidden flex-col space-y-4 p-4 bg-[#2b2b2b]">
        <a href="#" class="hover:text-teal-500" aria-label="Accueil"><i class="fas fa-home"></i> Accueil</a>
        <a href="#" class="hover:text-teal-500" aria-label="Catégories"><i class="fas fa-th"></i> Catégories</a>
        <a href="#" class="hover:text-teal-500" aria-label="Idoles"><i class="fas fa-star"></i> Idoles</a>
        <a href="#" class="hover:text-teal-500" aria-label="Vidéos populaires"><i class="fas fa-fire"></i> Vidéos populaires</a>
        <a href="https://www.youtube.com/playlist?list=PL1nW8kmXdSU6zxdIV-tyekwCnxcVeDgqa" class="hover:text-teal-500" aria-label="Nouvelles vidéos"><i class="fas fa-clock"></i> Nouvelles vidéos</a>
        <a href="#" class="hover:text-teal-500" aria-label="Vidéos les mieux notées"><i class="fas fa-thumbs-up"></i> Vidéos les mieux notées</a>
        <a href="#" class="hover:text-teal-500" aria-label="Notre réseau"><i class="fas fa-network-wired"></i> Notre réseau</a>
    </nav>
</header>